/* Mini defaults */
a{
  text-decoration: none;
  color: inherit;
}
/* mini class styles */
/* ============= Main Header Styles =============== */
#mainHeader{
  background-color: rgb(29, 38, 53);
  color: #fff;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo{
  letter-spacing: 1px;
}
#mainNav{
  background-color: rgb(16, 21, 29);
  padding: 10px;
}
#mainNav a{
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
}
/* ================= Hero styles ================= */
#hero{
  background: url('https://images.unsplash.com/photo-1508197149814-0cc02e8b7f74?ixlib=rb-1.2.1&auto=format&fit=crop&w=1544&q=80') no-repeat center center/cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content{
  background-color: rgb(16, 21, 29);
  padding: 10px;
  color: #fff;
  text-align: center;
}
.hero-content h1{
  font-size: 2.8rem;
}
.hero h1 span:after{
  content: '';
  width: 1px;
  border-right: 5px solid #FFF;
  height: 100%;
  margin-left: 0.5rem;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}